.wrapper {
  position: absolute;
  top: 0px;
  background-color: rgba(131, 137, 134, 0.445);
  width: 280px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
